<div [ngStyle]="{'background':'#25263c'}" class="container-fluid">
  <div  class="container">
    <div class="welcome-caption text-white text-center pt-5">
      <p class="fs-1">Приветствуем вас в онлайн-казино <b>UP-X</b></p>
    </div>
    <div class="container mt-5">
      <div class="row">
        <div class="col md-5">
          <a routerLink="stairs">
            <div class="game-card">
              <span class="img-stairs">
                <span class="game-card-name">Stairs</span>
              </span>
            </div>
          </a>
        </div>
        <div class="col md-5">
          <a href="">
            <div class="game-card">
              <span class="img-crash">
                <span class="game-card-name">CRASH</span>
              </span>
            </div>
          </a>
        </div>
        <div class="col md-5">
          <a href="">
            <div class="game-card">
              <span class="img-coin">
                <span class="game-card-name">Coin Flip</span>
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
